﻿


<div style="background-color:darkgoldenrod">

    <div class="container text-center" style="padding-top:100px; padding-bottom: 670px;">
        <h1 class="text-center" style="padding-bottom:60px; color:black; font-size:45px;">Your WishList</h1>



        @foreach (var item in ViewBag.wishList)
        {
            <div class="container" style="padding:10px;"></div>
            <div class="row" style="background-color:white; padding:30px 20px; border-radius:5px;">
                <ul style="list-style-type: none;">
                    <li style="font-size:25px;">

                        <a asp-action="Details" asp-controller="Guitar" asp-route-id="@item.Guitar.Id" data-toggle="tooltip" title="View details of guitar @item.Guitar.Specifications.Model">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="@item.Guitar.ImageUrl" alt="guitar" style="width: 100%" class="img-responsive">
                            </div>
                        </a>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <ul style="list-style-type: none;">
                                <li style="font-size:30px;"><b>@item.Guitar.Price €</b></li>
                                <li><h4><b>Model: </b>@item.Guitar.Specifications.Model</h4></li>
                                <li><h4><b>Builder: </b>@item.Guitar.Specifications.Builder</h4></li>
                                <li><h4><b>Type: </b>@item.Guitar.Specifications.Type</h4></li>
                                <li><h4><b>BackWood: </b>@item.Guitar.Specifications.BackWood</h4></li>
                                <li><h4><b>TopWood: </b>@item.Guitar.Specifications.TopWood</h4></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <a class="btn btn-default btn-lg btn-block" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-id="@item.Guitar.Id">
                                <span class="glyphicon glyphicon-shopping-cart"></span>  Add to shopping cart
                            </a>
                            <a class="btn btn-primary btn-lg btn-block" asp-action="Details" asp-controller="Guitar" asp-route-id="@item.Guitar.Id">
                                <span class="glyphicon glyphicon-eye-open"></span>  View details
                            </a>
                            <a class="btn btn-danger btn-lg btn-block" asp-action="Delete" asp-controller="WishList" asp-route-id="@item.Guitar.Id">
                                <span class="glyphicon glyphicon-trash"></span>  Delete from wishlist
                            </a>
                        </div>

                    </li>


                </ul>

            </div>
        }
    </div>

</div>

