@model IEnumerable<Guitar>


<!-- Carousel Section -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/966240-gorgerous-cool-guitar-backgrounds-1920x1080-for-iphone-6.jpg" alt="New York" style="width: 100%;" width="1200" height="300">
            <div class="carousel-caption">
                <h3>Fender</h3>
                <p>Awesome guitar!</p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/guitar_guitarist_bw_122822_1920x1080.jpg" alt="Chicago" style="width: 100%;" width="1200" height="700" />
            <div class="carousel-caption">
                <h3>Fender</h3>
                <p>Perfect for every person!</p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/865869.jpg" alt="Los Angeles" style="width: 100%;" width="1200" height="400">
            <div class="carousel-caption">
                <h3>Fender</h3>
                <p>We love guitars!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>




<!-- First Container (The Guitar Shop Section) -->
<div id="band" class="container text-center" style="padding: 80px 120px; letter-spacing: 1px;">
    <h3 style="font-size:40px">Guitar Shop</h3>
    <p><em>We love guitars!</em></p>
    <p>The guitar is a fretted musical instrument that usually has six strings. It is typically played with both hands by strumming or plucking the strings with either a guitar pick or the finger(s)/fingernails of one hand, while simultaneously fretting (pressing the strings against the frets) with the fingers of the other hand. The sound of the vibrating strings is projected either acoustically, by means of the hollow chamber of the guitar (for an acoustic guitar), or through an electrical amplifier and a speaker.</p>
    <p>There are three main types of modern acoustic guitar: the classical guitar (Spanish guitar/nylon-string guitar), the steel-string acoustic guitar, and the archtop guitar, which is sometimes called a "jazz guitar". The tone of an acoustic guitar is produced by the strings' vibration, amplified by the hollow body of the guitar, which acts as a resonating chamber. The classical guitar is often played as a solo instrument using a comprehensive finger-picking technique where each string is plucked individually by the player's fingers, as opposed to being strummed. The term "finger-picking" can also refer to a specific tradition of folk, blues, bluegrass, and country guitar playing in the United States. The acoustic bass guitar is a low-pitched instrument that is one octave below a regular guitar.</p>
    <p>Electric guitars, introduced in the 1930s, use an amplifier and a loudspeaker that both makes the sound of the instrument loud enough for the performers and audience to hear, and, given that it produces an electric signal when played, that can electronically manipulate and shape the tone using an equalizer (e.g., bass and treble tone controls) and a huge variety of electronic effects units, the most commonly used ones being distortion (or "overdrive") and reverb. Early amplified guitars employed a hollow body, but solid wood guitars began to dominate during the 1960s and 1970s, as they are less prone to unwanted acoustic feedback "howls". As with acoustic guitars, there are a number of types of electric guitars, including hollowbody guitars, archtop guitars (used in jazz guitar, blues and rockabilly) and solid-body guitars, which are widely used in rock music.</p>
</div>
<br><br />

<!-- Second Container (The Guitar Shop Section) -->
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-4">
            <p></p>
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/100947_acoustic-guitar-wallpaper-hd.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
        <div class="col-sm-4">
            <p></p>
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/guitar_music_background-1280x800.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
        <div class="col-sm-4">
            <p></p>
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/728990-guitar-black-background-2560x1600-hd-1080p.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <br />
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/268qR0.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
        <div class="col-sm-4">
            <br />
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/awesome-red-guitar-wallpapers-28.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
        <div class="col-sm-4">
            <br />
            <a asp-action="Index" asp-controller="Guitar"><img src="~/images/Black Electric Guitar Pickup and Strings Photoshop Music Desktop HD Wallpaper 1280x800 www.greatguitarsound.blogspot.com.jpg" class="img-responsive margin" style="width:100%" alt="Guitar"></a>
        </div>
    </div>
</div>
<div style="padding: 60px;"></div>

<!-- Third Container (YouTube video Section) -->
<div class="container">
    <div class="embed-responsive embed-responsive-4by3" style="padding-bottom:500px;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</div>
<div style="padding: 60px;"></div>



