

<!-- Footer Section -->
<footer class="text-center" style="background-color: #2d2d30; color: #f5f5f5; padding: 20px;">
    <p class="text-center"><a href="#" ><span class="glyphicon glyphicon-chevron-up" data-toggle="tooltip" title="BACK TO TOP"></span></a></p>
    <p>Made by Oana Ujica:<a href="https://codingwithoana.wordpress.com/" data-toggle="tooltip" title="Visit www.codingwithoana.wordpress.com" target="_blank" style="color:darkgoldenrod">   www.codingwithoana.wordpress.com</a></p>
</footer>
