﻿<!DOCTYPE html>

<html>
<head>
    <title>Guitar Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body style="background-color:whitesmoke;">

    <!-- Navigation Bar Section -->
    <partial name="~/Views/Shared/_NavigationBar.cshtml" />


    <!-- Body Section -->
    <div>
        @RenderBody()
    </div>


    <!-- Footer Section -->
    <partial name="~/Views/Shared/_Footer.cshtml" />

</body>
</html>
