@using GuitarShop.Services
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


    <!-- Navigation Bar Section -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="letter-spacing: 4px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">GUITAR SHOP</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
                    <li><a asp-controller="Guitar" asp-action="Index"><span class="glyphicon glyphicon-th-list"></span> OUR GUITARS</a></li>

                    @if (SessionHelper.GetObjectFromJson<List<WishListItem>>(HttpContextAccessor.HttpContext.Session, "wishList") != null)
                    {
                        <li><a asp-controller="WishList" asp-action="Index"><span class="glyphicon glyphicon-heart-empty"></span> WISHLIST</a></li>
                    }

                    @if (SessionHelper.GetObjectFromJson<List<WishListItem>>(HttpContextAccessor.HttpContext.Session, "cart") != null)
                    {
                        <li><a asp-controller="ShoppingCart" asp-action="Index"><span class="glyphicon glyphicon-shopping-cart"></span> SHOPPING CART</a></li>
                    }
                    
                    <li><a asp-controller="Guitar" asp-action="Search"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                    <li><a asp-controller="Contact" asp-action="Index"><span class="glyphicon glyphicon-info-sign"></span> CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
