﻿@model IEnumerable<Guitar>


<!-- Search result, with matching guitars -->
<div style="background-color:darkgoldenrod">

    <div class="container" style="padding-top:100px; padding-bottom: 116px;">
        <h1 class="text-center" style="padding-bottom:60px; font-size:45px;">We have guitars of your preferences!</h1>

        @foreach (var guitar in Model)
        {
            <div class="container" style="padding:10px;"></div>
            <div class="row" style="background-color:white; padding:30px 20px; border-radius:5px;">
                <ul style="list-style-type: none;">
                    <li style="font-size:25px;">

                        <a asp-action="Details" asp-controller="Guitar" asp-route-id="@guitar.Id" data-toggle="tooltip" title="View details of guitar @guitar.Specifications.Model">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="@guitar.ImageUrl" alt="guitar" style="width: 100%" class="img-responsive">
                            </div>
                        </a>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <ul style="list-style-type: none;">
                                <li style="font-size:30px;"><b>@guitar.Price €</b></li>
                                <li><h4><b>Model: </b>@guitar.Specifications.Model</h4></li>
                                <li><h4><b>Builder: </b>@guitar.Specifications.Builder</h4></li>
                                <li><h4><b>Type: </b>@guitar.Specifications.Type</h4></li>
                                <li><h4><b>BackWood: </b>@guitar.Specifications.BackWood</h4></li>
                                <li><h4><b>TopWood: </b>@guitar.Specifications.TopWood</h4></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <a class="btn btn-primary btn-lg btn-block" asp-action="Details" asp-controller="Guitar" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-eye-open"></span>  View details</a>
                            <a class="btn btn-warning btn-lg btn-block" asp-action="AddToWishList" asp-controller="WishList" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-heart-empty"></span>  Add to wishlist</a>
                            <a class="btn btn-default btn-lg btn-block" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-shopping-cart"></span>  Add to shopping cart</a>
                        </div>

                    </li>
                </ul>

            </div>
        }

    </div>

</div>



