﻿@model GuitarSpecification

<!-- Main Container -->
<div class="container-fluid bg-1" style=" padding-top: 100px; padding-bottom: 134px;">
    <h1 class="text-center" style="padding-bottom:10px; font-size:40px;">Search</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form asp-action="MatchingGuitarsAfterSearch" asp-controller="Guitar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Builder" class="control-label" style="font-size:20px;"></label>
                        <select asp-for="Builder" asp-items="Html.GetEnumSelectList<Builder>()" class="form-control">
                            <option selected="selected" value="">Please select builder</option>
                        </select>
                        <span asp-validation-for="Builder" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Model" class="control-label" style="font-size:20px;"></label>
                        <select asp-for="Model" asp-items="Html.GetEnumSelectList<Model>()" class="form-control">
                            <option selected="selected" value="">Please select model</option>
                        </select>
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Type" class="control-label" style="font-size:20px;"></label>
                        <select asp-for="Type" asp-items="Html.GetEnumSelectList<GuitarShop.Models.Type>()" class="form-control">
                            <option selected="selected" value="">Please select type</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="BackWood" class="control-label" style="font-size:20px;"></label>
                        <select asp-for="BackWood" asp-items="Html.GetEnumSelectList<BackWood>()" class="form-control">
                            <option selected="selected" value="">Please select backwood</option>
                        </select>
                        <span asp-validation-for="BackWood" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="TopWood" class="control-label" style="font-size:20px;"></label>
                        <select asp-for="TopWood" asp-items="Html.GetEnumSelectList<TopWood>()" class="form-control">
                            <option selected="selected" value="">Please select topwood</option>
                        </select>
                        <span asp-validation-for="TopWood" class="text-danger"></span>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-lg btn-warning" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


