
<!-- Container (Body Section) -->
<div class="container-fluid" style="background-image:url('../../images/Black Electric Guitar Pickup and Strings Photoshop Music Desktop HD Wallpaper 1280x800 www.greatguitarsound.blogspot.com.jpg'); padding-top: 100px; padding-bottom: 742px;" >
    <p class="text-center" style="font-weight:400; font-size:40px; color:burlywood; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Thank you for your interest, we will get in contact soon!</p>
</div>

